
.buttons__hideDone {
    background-color: transparent;
    border: none;
    color: #007380;
    transition: 0.3s;
    padding-top: 12px;
 }
 
 .buttons__hideDone:hover {
    color: #52b5c0;
    cursor: pointer;
 }
 
 .buttons__completeAllTasks {
    background-color: transparent;
    border: none;
    color: #007380;
    transition: 0.3s;
    padding-top: 12px;
 }
 
 .buttons__completeAllTasks:hover {
    color: #52b5c0;
    cursor: pointer;
 }
 
 .buttons__completeAllTasks:disabled {
    background-color: transparent;
    border: none;
    color: rgb(79, 79, 79);
    cursor: default;
  }
 